<template name="login">
  <div id="login">
    <img id="tox-title" src="/img/tox-logo.png">
    <div id="login-forms" class="{{#if register}}register-forms{{/if}}">
      <div class="forms-border-top {{#if register}}border-register{{/if}}"></div>
      {{#if register}}
        <!-- name form -->
        <input id="register-name" class="login-form" type="text" placeholder="{{multiLang 'NAME'}}" required>
        <div id="register-name-side" class="login-form-side">
            <span class="login-form-side-text icon-tags"></span>
        </div>
      {{/if}}
      <!-- login username form -->
      <input id="login-username{{#if register}}-register{{/if}}" class="login-form" type="email" placeholder="{{multiLang 'EMAIL'}}" required>
      <div id="login-username-side{{#if register}}-register{{/if}}" class="login-form-side">
          <span class="login-form-side-text icon-user"></span>
      </div>
      <!-- login pass form -->
      <input id="login-pass{{#if register}}-register{{/if}}" class="login-form" type="password" placeholder="{{multiLang 'PASSWORD'}}" required>
      <div id="login-pass-side{{#if register}}-register{{/if}}" class="login-form-side">
        <span class="login-form-side-text icon-lock"></span>
      </div>
      {{#if register}}
        <!-- confirm login pass form -->
        <input id="register-cpass" class="login-form" type="password" placeholder="{{multiLang 'CONFIRM_PASSWORD'}}" required>
        <div id="register-cpass-side" class="login-form-side">
            <span class="login-form-side-text icon-repeat"></span>
        </div>
      {{/if}}
      <input type="submit" class="login-btn {{#if register}} login-btn-register {{/if}}" id="login-btn" value="{{multiLang 'LOGIN'}}">
      <input type="submit" class="login-btn {{#if register}} login-btn-register {{/if}}" id="register-btn" value="{{#if register}} {{multiLang 'CANCEL'}} {{else}} {{multiLang 'REGISTER'}} {{/if}}">
      <div class="forms-border-bottom {{#if register}}border-register{{/if}}"></div>
    </div>
    </div>
    {{#unless register}}
    <img id="facebook-sign-in" style="left:6%" class="sign-in-btn" src="/img/login/fbicon.png">
    <img id="twitter-sign-in" style="left:0;right:0;margin: auto;" class="sign-in-btn" src="/img/login/twittericon.png">
    <img id="google-sign-in" style="right:6%"class="sign-in-btn" src="/img/login/gplusicon.png">
    {{/unless}}
    </div>
</template>