<template name="login">
  <div id="login">
    <img id="tox-title" src="/img/tox-logo.png">
    <div id="login-forms" class="{{#if register}}register-forms{{/if}}">
      <div class="forms-border-top {{#if register}}border-register{{/if}}"></div>
      {{#if register}}
        <!-- name form -->
        <input id="register-name" class="login-form" type="text" placeholder="{{multiLang 'NAME'}}" required>
        <div id="register-name-side" class="login-form-side">
            <span class="login-form-side-text icon-tags"></span>
        </div>
      {{/if}}
      <div class="push-forms">
        <!-- login username form -->
        <input id="login-username{{#if register}}-register{{/if}}" class="login-form push-forms-up" type="email" placeholder="{{multiLang 'EMAIL'}}" required>
        <div id="login-username-side{{#if register}}-register{{/if}}" class="login-form-side">
          <span class="login-form-side-text icon-user"></span>
        </div>
        <!-- login pass form -->
        <input id="login-pass{{#if register}}-register{{/if}}" class="login-form push-forms-up" type="password" placeholder="{{multiLang 'PASSWORD'}}" required>
        <div id="login-pass-side{{#if register}}-register{{/if}}" class="login-form-side">
          <span class="login-form-side-text icon-lock"></span>
        </div>
      </div>
      {{#if register}}
        <!-- confirm login pass form -->
        <input id="register-cpass" class="login-form" type="password" placeholder="{{multiLang 'CONFIRM_PASSWORD'}}" required>
        <div id="register-cpass-side" class="login-form-side">
            <span class="login-form-side-text icon-repeat"></span>
        </div>
      {{/if}}
      <input type="submit" class="login-btn {{#if register}} login-btn-register {{/if}}" id="login-btn" value="{{multiLang 'LOGIN'}}">
      {{#if register}}
      <input type="submit" class="login-btn login-btn-register submit-btn" id="register-btn" value="{{multiLang 'CANCEL'}}">
      {{else}}
      <input type="submit" class="login-btn submit-btn" id="cancel-btn" value="{{multiLang 'REGISTER'}}">
      {{/if}}
      <div class="forms-border-bottom {{#if register}}border-register{{/if}}"></div>
    </div>
  </div>
</template>