//////////////////////////////////////////////////////////
// Global settings
//////////////////////////////////////////////////////////

// font stack
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
verdana = Verdana, Geneva, sans-serif

// colors
pink = #dbb3c7
dark-pink = #C27BA0
white = #FFF
black = #0A0A0A

// default font stack
font-stack = helvetica-neue
font-size = 14
font-color = black
