.edit
  margin-top 14% !important
  height 11%
  width 70%
  margin-left 1.5%
  line-height 28.3px
.edit-bot
  margin-bottom 17% !important
.edit-age-title
  margin-left 1.2% !important
#new-call-save
  position absolute
  font-size 24px
  right 10px
  width 30px
  height 34px
  text-align center
  display table
  border-right 2px solid black
  border-left 2px solid black
  text-decoration none
  top 0px
  &:hover
    background grey-hover
    text-decoration none
