/* HOME BUTTONS */

//home button class
.home-btn
  position absolute
  width 37%
  &:hover
    opacity 0.7
.home-btn-img
  width 100%
  height auto
  border none
.home-btn-text
  font-size 0.3em
  font-family "track"
  color #ED3533
  @media (min-height:200px)
    font-size 0.5em
  @media (min-height:300px)
    font-size 0.6em
  @media (min-height:400px)
    font-size 0.7em
  @media (min-height:500px)
    font-size 0.8em
  @media (min-height:600px)
    font-size 0.9em
  @media (min-height:700px)
    font-size 1.1em
  position absolute
  text-align center
  bottom 8%
  left 0
  right 0
  margin 0 auto
//new call button
#new-call-btn
  left 9%
  top 21%
//profile button
#profiles-btn
  right 9%
  top 21%
//history button
#history-btn
  left 9%
  bottom 21%
//about button
#about-btn
  right 9%
  bottom 21%
/* --HOME BUTTONS */