@import "top-nav"
@import "home"
@import "profiles"
@import "new-call"

#app-content
  background #666666
  position absolute
  height auto
  width 94%
  left 3%
  border-radius 12px
  top 18%
  bottom 5%




