@import "top-nav"
@import "home"
@import "new-call"
@import "profiles"

#app-content
  background pink
  border 2px solid black
  border-top-width 0px
  box-sizing border-box
  position absolute
  height auto
  width 100%
  top 44px
  bottom 0px




