//Tox title in navbar
#tox-title-nav
  position absolute
  left 4%
  top 2%
  height 14%
  width auto

/* NAVBAR BUTTONS */

//Logout button
#logout-btn
  position absolute
  right 25%
  top 8%
  height 6%
  width auto

//Flag button
#flag-btn
  position absolute
  right 7%
  top 8%
  height 6%
  width auto
/* ---NAVBAR BUTTONS */

/* LANGUAGE DROPDOWN */
#lang-dropdown, #flag-icons
  position absolute
  right 2%
  top 14%
  height 170px
  width 70px
  z-index 100
.lang-dropdown-flag
  width 32px
  height auto
  position absolute
  z-index 120
//language flag icons
#en
  right 25%
  top 14%
#de
  right 25%
  top 42%
#fr
  right 25%
  top 70%
/* ---LANGUAGE DROPDOWN */
