//Tox title in navbar
#tox-title-nav
  position absolute
  left 4%
  top 2%
  height 14%
  width auto

//Logout button
#logout-btn
  position absolute
  right 25%
  top 8%
  height 6%
  width auto

//Flag button
#flag-btn
  position absolute
  right 7%
  top 8%
  height 6%
  width auto

