<template name="editProfile">
  <a style="text-decoration:none;" href="{{pathFor 'profiles'}}"><span id="back-btn">{{multiLang 'BACK'}}</span></a>
  <a style="text-decoration:none;"><span id="add-btn">{{multiLang 'SAVE'}}</span></a>
  <div id="newcall-title" class="profiles-title">{{multiLang 'EDIT_PROFILE'}}</div>
  <!-- new call forms -->
  <div id="profiles-list">
    {{#with profile}}
    <input class="call-input" value="{{name}}" placeholder="&nbsp;{{multiLang 'NAME'}}" type="text"
           id="name-input-profile" required>
    <input class="call-input" value="{{age}}" placeholder="&nbsp;{{multiLang 'AGE'}}" type="number" id="age-input-profile">
    <input class="call-input" value="{{weight}}" placeholder="&nbsp;{{multiLang 'WEIGHT'}}" type="number"
           id="weight-input-profile">
    <input class="call-input" value="{{number}}" placeholder="&nbsp;{{multiLang 'MOBILE'}}" type="number"
           id="mobile-input-profile">
    <label id="gender-select-profile" class="switch-light switch-candy" onclick="">
      <input id="sexselect" type="checkbox" {{#if female}}checked{{/if}}>
	  <span>
		<span class="select-switch-text">{{multiLang 'SEX_0'}}</span>
		<span class="select-switch-text">{{multiLang 'SEX_1'}}</span>
	  </span>
      <a></a>
    </label>
    <input class="call-input" value="&nbsp;{{multiLang 'SHARE_LOCATION'}}:" id="loc-input-title-profile" disabled>
    <label id="location-select-profile" class="switch-light switch-candy" onclick="">
      <input id="locselect" type="checkbox" {{#if location}}checked{{/if}}>
	  <span style="color:#ED3533">
		<span class="select-switch-text">{{multiLang 'YES'}}</span>
		<span class="select-switch-text">{{multiLang 'NO'}}</span>
	  </span>
      <a></a>
    </label>
    {{/with}}
  </div>
</template>
