<template name="profiles">
  <a style="text-decoration:none;" href="{{pathFor 'home'}}"><span id="back-btn">{{multiLang 'BACK'}}</span></a>
  <div id="newcall-title" class="profiles-title">{{multiLang 'PROFILES' 'UPPER'}}</div>
  <a style="text-decoration:none;" href="{{pathFor 'addProfile'}}"><span id="add-btn">{{multiLang 'ADD'}}</span></a>
  <div id="profiles-list">
    {{#each profiles}}
      {{> profileItem}}
    {{/each}}
  </div>
</template>

<template name="profileItem">
  <div class="profile-item">
    <span class="profile-name"> {{name}} </span>
    <a style="text-decoration:none;" href="{{pathFor 'editProfile'}}" style="color:black;"> <span aria-hidden="true" class="icon-edit profile-edit"> </span> </a>
    <span id="{{_id}}" aria-hidden="true" class="icon-trash profile-delete"> </span>
  </div>
</template>