#login
  background dark-pink
  height 100%
  width 100%
#login-top
  position fixed
  height 100px
  width 100%
#login-forms
  position relative
  height 100%
  width 100%
  top 100px
#tox-title
  position relative
  margin-left -90px
  top 20px
  left 50%
  width 160px
  height 80px
#login-username
  position absolute
  left 4.5%
  width 86%
  box-sizing border-box
  border 1px black solid
#login-pass
  position absolute
  top 7%
  left 4.5%
  width 86%
  box-sizing border-box
  border 1px black solid
.sign-in-btn
  width 70%
  height 8%
  position fixed
  &:hover
    opacity 0.9
#google-sign-in
  bottom 21%
  left 15%
#facebook-sign-in
  bottom 12%
  left 15%
#twitter-sign-in
  bottom 3%
  left 15%
#login-btn
  position relative
  top 19%
  right 7.5%
  float right
#register-btn
  position relative
  top 19%
  left 6.8%
  float left

