//Login Container
#login
  background #cccccc
  height 100%
  width 100%

//Tox title (top)
#tox-title
  margin auto
  position absolute
  left 0
  right 0
  top 2%
  height 24%
  width auto

/* LOGIN/REGISTER FORMS */

//Login/register forms container
#login-forms
  position absolute
  background #ffffff
  border-radius 7px
  box-sizing border-box
  border-left none
  border-right none
  height auto
  width 88%
  left 6%
  top 30%
  bottom 23%
.register-forms
  bottom 2% !important
//top border for container
.forms-border-top
  width 100%
  border-top-left-radius 7px
  border-top-right-radius 7px
  height 14%
  position absolute
  top 0
  background #666666
//bottom border for container
.forms-border-bottom
  width 100%
  border-bottom-left-radius 7px
  border-bottom-right-radius 7px
  height 14%
  position absolute
  bottom 0
  background #666666
.border-register
  height 10%
//login form + side
.login-form
  width 70%
  height 15%
  font-size 0.45em
  position absolute
  @media (min-height:200px)
    font-size 0.55em
  @media (min-height:300px)
    font-size 0.75em
  @media (min-height:400px)
    font-size 0.95em
  @media (min-height:500px)
    font-size 1.15em
  @media (min-height:600px)
    font-size 1.35em
  border-top-right-radius 3px
  border-bottom-right-radius 3px
  border solid #d2d4d7 1px
  border-left none
  padding 0.4em
  box-sizing border-box;
  color black
  background-color white
.login-form-side
  width 14%
  height 15%
  text-align center
  position absolute
  box-sizing border-box;
  border-top-left-radius 3px
  border-bottom-left-radius 3px
  border solid #d2d4d7 1px
  background #EDEDE5
.login-form-side-text
  color #ED3533
  font-size 0.6em
  margin-top -0.4em
  position absolute
  top 50%
  left 0
  right 0
  @media (min-height:200px)
    font-size 0.9em
  @media (min-height:300px)
    font-size 1.2em
  @media (min-height:400px)
    font-size 1.5em
  @media (min-height:500px)
    font-size 1.9em
  @media (min-height:600px)
    font-size 2.2em
//email form + side
#login-username
  right 8%
  top 27%
#login-username-side
  left 8%
  top 27%
#login-username-register
  height 12%
  right 8%
  top 33%
  &:focus + #login-username-side-register
    top 16%
    z-index 100
  &:focus
    top 16%
    z-index 100
#login-username-side-register
  height 12%
  left 8%
  top 33%
//password form + side
#login-pass
  top 48%
  right 8%
#login-pass-side
  left 8%
  top 48%
#login-pass-register
  height 12%
  top 50%
  right 8%
  &:focus + #login-pass-side-register
    top 16%
    z-index 100
  &:focus
    top 16%
    z-index 100
#login-pass-side-register
  height 12%
  left 8%
  top 50%
//confirm password form + side
#register-cpass
  height 12%
  top 67%
  right 8%
  &:focus + #register-cpass-side
    top 16%
    z-index 100
  &:focus
    top 16%
    z-index 100
#register-cpass-side
  height 12%
  left 8%
  top 67%
//confirm password form + side
#register-name
  height 12%
  top 16%
  right 8%
#register-name-side
  height 12%
  left 8%
  top 16%
//login/register button class
.login-btn
  border none
  border-radius 2px
  color white
  font-family "track"
  z-index 100
  border-bottom 7px solid #B31011
  position absolute
  background-color #ED3533
  font-size 0.25em
  @media (min-height:200px)
    font-size 0.45em
  @media (min-height:300px)
    font-size 0.65em
  @media (min-height:400px)
    font-size 0.85em
  @media (min-height:500px)
    font-size 1.05em
  @media (min-height:600px)
    font-size 1.3em
  &:hover
    border-bottom 7px solid #8e1011
    background-color #c83534
.login-btn-register
  right 7%
  height 11% !important
  bottom 1.6%
//login button
#login-btn
  right 7%
  bottom 3.5%
  width 40%
  height 15%
//register/cancel button
#register-btn
  left 7%
  bottom 3.5%
  width 40%
  height 15%
/* ---LOGIN/REGISTER FORMS */

//Third Party sign-in button
.sign-in-btn
  position absolute
  bottom 2%
  height 15%
  width auto
  &:hover
    opacity 0.7
