#login
  background dark-pink
  height 100%
  width 100%
#login-top
  position fixed
  height 80px
  width 100%
#login-forms
  position relative
  height 100%
  width 100%
  top 80px
#tox-title
  position relative
  margin-left -90px
  top 7px
  left 53%
  width 140px
  height 75px
#login-username
  position absolute
  left 4.5%
  font-size 13px
  line-height 19px
  width 86%
  box-sizing border-box
  border 1px black solid
#login-pass
  position absolute
  top 7%
  left 4.5%
  font-size 13px
  line-height 19px
  width 86%
  box-sizing border-box
  border 1px black solid
#clogin-pass
  position absolute
  top 14%
  left 4.5%
  font-size 13px
  line-height 19px
  width 86%
  box-sizing border-box
  border 1px black solid
#name-val
  position absolute
  top 21%
  left 4.5%
  font-size 13px
  line-height 19px
  width 86%
  box-sizing border-box
  border 1px black solid
.sign-in-btn
  width 70%
  height 8%
  position fixed
  &:hover
    opacity 0.9
#google-sign-in
  bottom 21%
  left 15%
#facebook-sign-in
  bottom 12%
  left 15%
#twitter-sign-in
  bottom 3%
  left 15%
#login-btn
  position relative
  top 19%
  right 7.5%
  float right
#register-btn
  position relative
  top 19%
  left 6.8%
  float left
#error-message
  position relative
  top 13.5%
  width 80%
  height 8px
  color red
  left 5.8%
  float left
.reg-box
  top 33% !important
.reg-error
  top 27% !important
  height 4px !important


