@import "nib/vendor"
@import "nib/reset"

@font-face
  font-family 'track'
  src url('/fonts/track.ttf')

body, html
  no-around()
  width 100%
  height 100%
  overflow hidden
  font-size 100%
@viewport
  zoom 1.0
  width extend-to-zoom

@-ms-viewport
  width extend-to-zoom
  zoom 1.0

.app
  position relative
  height 100%
  width 100%
  background #cccccc

@import "app"
@import "login"

global-reset()