<template name="newCall">
  <a style="text-decoration:none;" href="{{pathFor 'home'}}"><span id="back-btn">{{multiLang 'BACK'}}</span></a>
  <div id="newcall-title">{{multiLang 'NEW_CALL' 'UPPER'}}</div>
  <!-- new call forms -->
  <div id="newcall-forms">
    <!-- profile select dropdown -->
    <select id="call-profile-select" >
      {{#each profileList}}
        <option value="{{_id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
      {{/each}}
    </select>
    {{#with profile}}
    <input class="call-input" value="{{age}}" placeholder="&nbsp;{{multiLang 'AGE'}}" type="number" id="age-input">
    <input class="call-input" value="{{weight}}"placeholder="&nbsp;{{multiLang 'WEIGHT'}}" type="number" id="weight-input">
    <input class="call-input" value="{{mobile}}"placeholder="&nbsp;{{multiLang 'MOBILE'}}" type="number" id="mobile-input">
    <label id="gender-select" class="switch-light switch-candy" onclick="">
      <input type="checkbox">
	  <span>
		<span class="select-switch-text">{{multiLang 'SEX_0'}}</span>
		<span class="select-switch-text">{{multiLang 'SEX_1'}}</span>
	  </span>
      <a></a>
    </label>
    <input class="call-input" value="&nbsp;{{multiLang 'SHARE_LOCATION'}}:" id="loc-input-title" disabled>
    <label id="location-select" class="switch-light switch-candy" onclick="">
      <input type="checkbox">
	  <span style="color:#ED3533">
		<span class="select-switch-text">{{multiLang 'YES'}}</span>
		<span class="select-switch-text">{{multiLang 'NO'}}</span>
	  </span>
      <a></a>
    </label>
    <div id="attach-photos">
      <img class="attach-photo" id="attach-photo-1" src="/img/new-call/no-image.png">
      <img class="attach-photo" id="attach-photo-2" src="/img/new-call/no-image.png">
      <img class="attach-photo" id="attach-photo-3" src="/img/new-call/no-image.png">
    </div>
    {{/with}}
  </div>
  <div id="init-call-btn">
    <span class="icon-phone"></span> INITIATE CALL
  </div>
</template>