<template name="newCall">
  <div id="new-call-title"> New Call </div>
  <a id="new-call-back"> <span aria-hidden="true" id="new-call-back-txt" class="icon-chevron-left"> </span> </a>
  <select id="call-profile-select">
    <option value="John Doe">John Doe</option>
    <option value="Mary Sue" selected>Mary Sue</option>
    <option value="Joe Bloggs">Joe Bloggs</option>
  </select>
  <span class="call-input-title">Name</span> <input value='{{nameCall}}' id="call-name-input" class="call-input-box" type="text">
  <br>
  <span class="call-input-title">Mobile</span> <input value=0423514256 id="call-mobile-input" class="call-input-box" type="tel">
  <br>
  <span class="call-input-title">Weight</span> <input value=23 id="call-weight-input" class="call-input-box call-input-weight" type="tel">
  <span class="call-input-title">Age</span> <input value=19 id="call-age-input" class="call-input-box call-input-weight" type="tel">
  <br>

  <div style="max-width:150px;max-height:100px;float:left;">
    <span id="loc-switch-title">Share Location</span>
    <label id="loc-toggle" class="switch-light candy" onclick="">
      <input id="loc-toggle-checkbox" type="checkbox">
	    <span>
		    <span>Off</span>
		    <span>On</span>
	    </span>
      </input>
      <a></a>
    </label>
  </div>

  <div style="max-width:150px;max-height:100px;float:right;">
    <span id="gender-switch-title">Gender</span>
    <label id="gender-toggle" class="switch-light candy" onclick="">
      <input id="sex-toggle-checkbox" type="checkbox">
	    <span>
		    <span>Male</span>
		    <span>Female</span>
	    </span>
      </input>
      <a></a>
    </label>
  </div>

  <div id="attach-photos-btn"> <span style="display: table-cell; vertical-align: middle;">Attach Photos</span> </div>
  <div id="new-call-start"> <span style="display: table-cell; vertical-align: middle;"> <span aria-hidden="true" class="icon-phone"></span> Initiate Call</span> </div>
</template>
