@import "top-nav"
@import "home"

#app-content
  background pink
  border 2px solid black
  border-top-width 0px
  box-sizing border-box
  position absolute
  height auto
  width 100%
  top 38px
  @media (min-width: 420px) and (min-height: 320px)
    top 44px
  bottom 0px




