<template name="topNav">
  <div id="top-nav">
    <!-- navbar title -->
    <div style="margin-left:10px !important;" class="pull-left"> <div style="font-size:21px !important;" class="nav-btn">Tox </div> </div>
     
    <!-- closed calls toggle -->
    <div><a href="" id="closed-calls-toggle" class="nav-btn" style="font-size:23px !important;">  <span aria-hidden="true" class="icon-clock"></span> </a> </div>

    <!-- settings button -->
    <div><a href="" class="nav-btn" style="font-size:23px !important;"><span aria-hidden="true"class="icon-cog"></span> </a> </div>

    <!-- logout button -->
    <div><a href="" id="logout-btn" class="nav-btn" style="font-size:24px !important;">  <span aria-hidden="true" class="icon-signout"></span> </a> </div>
  </div>
</template>